@font-face {
    font-family: 'yekan';
    src: url('../fonts/iranyekanwebregularfanum.eot');
    src: url('../fonts/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebregularfanum.woff') format('woff'), url('../fonts/iranyekanwebregularfanum.woff2') format('woff2'), url('../fonts/iranyekanwebregularfanum.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/iranyekanweblightfanum.eot');
    src: url('../fonts/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanweblightfanum.woff') format('woff'), url('../fonts/iranyekanweblightfanum.woff2') format('woff2'), url('../fonts/iranyekanweblightfanum.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/iranyekanwebboldfanum.eot');
    src: url('../fonts/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebboldfanum.woff') format('woff'), url('../fonts/iranyekanwebboldfanum.woff2') format('woff2'), url('../fonts/iranyekanwebboldfanum.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/iranyekanwebextraboldfanum.eot');
    src: url('../fonts/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebextraboldfanum.woff') format('woff'), url('../fonts/iranyekanwebextraboldfanum.woff2') format('woff2'), url('../fonts/iranyekanwebextraboldfanum.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/iranyekanwebextrablackfanum.eot');
    src: url('../fonts/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'), url('../fonts/iranyekanwebextrablackfanum.woff') format('woff'), url('../fonts/iranyekanwebextrablackfanum.woff2') format('woff2'), url('../fonts/iranyekanwebextrablackfanum.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Freight';
    src: url('../fonts/FreightSansProBold-Regular.eot');
    src: url('../fonts/FreightSansProBold-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FreightSansProBold-Regular.woff') format('woff'), url('../fonts/FreightSansProBold-Regular.woff2') format('woff2'), url('../fonts/FreightSansProBold-Regular.ttf') format('truetype');
    font-weight: bold;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: #410000;
}

body {
    font-family: 'yekan';
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: rgb(62, 62, 62);
    cursor: pointer;
    transition: all .2s ease;
}

ul {
    list-style: none;
}